---
layout: default
---

<h3 class="pb-3 mb-3 font-italic blog-title">ALL POSTS</h3>

{% for post in paginator.posts %}
<div class="blog-post mx-2 pb-2 row justify-content-between">
    <div class="col-10 blog-column">
        <a class="card-link" href="{{ post.url }}">{{ post.title }}</a>
    </div>
    <div class="col-2 blog-column text-right">{{ post.date | date: '%b %d, %Y' }}</div>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<nav class="blog-pagination">
    <!-- Older -->
    {% if paginator.previous_page %}
    <a class="btn btn-outline-danger"
        href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer</a>
    {% else %}
    <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
    {% endif %}

    <!-- Newer -->
    {% if paginator.next_page %}
    <a class="btn btn-outline-danger"
        href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older</a>
    {% else %}
    <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Older</a>
    {% endif %}
</nav>
{% endif %}