<footer class="text-muted bg-light">
  <div class="container">
    <p class="float-right">
      <a href="#top">Back to top</a>
    </p>
    <p>&copy; 2018-2019 <a href="{{ '/' | prepend: site.baseurl }}">{{ site.author.fullName }}</a>. Template by <a
        target="_blank" href="https://getbootstrap.com/">Bootstrap</a>.
    网站统计：<a target="_blank" href="https://tongji.baidu.com/web/welcome/ico?s=2ba9b583831274c64c2e68b7065e9bcb">百度统计</a></p>
  </div>
</footer>


<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js" crossorigin="anonymous"></script>
<script src="//cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="//cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Custom styles for this template -->
<script src="{{ '/assets/js/baidu-hm.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/nav.js' | prepend: site.baseurl }}"></script>