<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.owner.author }}">
    <link rel="icon" href="{{ '/assets/favicon.ico' | prepend: site.baseurl }}">

    <title>{% if page.title %}{{ page.title }} - {{ site.author.fullName }}'s Blog{% else %}{{ site.author.fullName }} -
        {{ site.author.description }}{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ '/assets/css/blog.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/assets/css/code.css' | prepend: site.baseurl }}" rel="stylesheet">
</head>